[init]
	defaultBranch = main
[user]
	name = Nikko Miu
	email = {{ .email }}
[pull]
	rebase = false
{{ if eq .chezmoi.os "linux" -}}
{{ if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
{{- end }}
{{- end }}
