#!/bin/bash

if ! command -v code &> /dev/null; then
  echo "[WARN] VS Code is not installed."
  exit 0
fi

ext_list=$(code --list-extensions)

echo "[STAT] Installing VS Code Extensions..."

echo "[STAT] Installing Base Extensions..."
{{ range .code.extensions.base -}}
ext=$(echo $ext_list | grep {{ . }} | wc -l)
if [ "$ext" == "0" ]; then
  echo "[INFO]   Installing {{ . }}"
  code --install-extension {{ . }}
fi
{{ end }}

# Install Go extensions if go is installed
if command -v go &> /dev/null; then
  echo "[STAT] Installing Go Extensions..."
  {{ range .code.extensions.go -}}
  ext=$(echo $ext_list | grep {{ . }} | wc -l)
  if [ "$ext" == "0" ]; then
    echo "[INFO]   Installing {{ . }}"
    code --install-extension {{ . }}
  fi
  {{ end }}
fi

# Install JS extensions if node is installed
if command -v node &> /dev/null; then
  echo "[STAT] Installing JS Extensions..."
  {{ range .code.extensions.js -}}
  ext=$(echo $ext_list | grep {{ . }} | wc -l)
  if [ "$ext" == "0" ]; then
    echo "[INFO]   Installing {{ . }}"
    code --install-extension {{ . }}
  fi
  {{ end }}
fi

# Install C++ extensions if cmake is installed
if command -v cmake &> /dev/null; then
  echo "[STAT] Installing C++ Extensions..."
  {{ range .code.extensions.cpp -}}
  ext=$(echo $ext_list | grep {{ . }} | wc -l)
  if [ "$ext" == "0" ]; then
    echo "[INFO]   Installing {{ . }}"
    code --install-extension {{ . }}
  fi
  {{ end }}
fi

# Install Ruby extensions if rbenv is installed
if command -v rbenv &> /dev/null; then
  echo "[STAT] Installing Ruby Extensions..."
  {{ range .code.extensions.ruby -}}
  ext=$(echo $ext_list | grep {{ . }} | wc -l)
  if [ "$ext" == "0" ]; then
    echo "[INFO]   Installing {{ . }}"
    code --install-extension {{ . }}
  fi
  {{ end }}
fi
