#!/bin/bash

auth_method=oidc
{{- if and (hasKey . "ssh_sign") (hasKey .ssh_sign "auth_path") }}
auth_path={{ .ssh_sign.auth_path }}
{{ else }}
auth_path=oidc
{{ end -}}

priv_key=$HOME/.ssh/id_rsa
pub_key=$priv_key.pub
cert_key=$priv_key-cert.pub

{{- if and (hasKey . "ssh_sign") (hasKey .ssh_sign "username") }}
user={{ .ssh_sign.username }}
{{ else }}
user=ubuntu
{{ end -}}
role=default

# if key does not exist create it
if [ ! -f $priv_key ]; then
  ssh-keygen -t rsa -b 4096 -f $priv_key -N ''
fi

vault token lookup > /dev/null &> /dev/null
if [ $? -ne 0 ]; then
    vault login -method=$auth_method -path=$auth_path
    if [ $? -ne 0 ]; then
	exit 1
    fi
fi

vault write -field=signed_key ssh-client/sign/$role \
    public_key=@$pub_key \
    valid_principals=$user \
    > $cert_key

chmod 600 $cert_key

# enable debug output if set
if [ "$DEBUG" = "true" ]; then
  ssh-keygen -Lf $cert_key
fi
